@import 'static/scss/constants.scss';

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: $spacing-m;

  &__logo {
    font-family: $font-heading;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -3px;
    color: $color-grey-purple;
  }

  &__navigation {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }

  &__user-actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    margin-left: auto;
  }
}
