@import 'static/scss/constants';

.number-badge {
  background-color: $color-silver;
  padding: $spacing-xxs;
  font-size: 0.8rem;
  line-height: 1;
  width: 0.8rem + $spacing-xxs * 2;
  text-align: center;
  border-radius: 0.4rem + $spacing-xxs;
}
