:root {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
}

button,
label {
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  font: inherit;
  box-shadow: inset 0 0 0 1px #ccc;
}
