@import 'static/scss/constants';

.button {
  appearance: none;
  margin: 0;
  padding: $spacing-xs $spacing-l;
  border: 0;
  border-radius: 4px;
  background-color: $color-silver;
  font: inherit;
  color: $color-grey-purple;
}
