@import 'static/scss/colors.scss';
@import 'static/scss/constants.scss';

.form-item {
  margin-bottom: $spacing-m;

  &-label {
    display: block;
    font-weight: 600;
    margin-bottom: $spacing-xxs;
  }

  &-error {
    color: $color-negative;
  }
}
