@import 'static/scss/colors.scss';
@import 'static/scss/constants.scss';

.form-field {
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: 1px solid $color-silver;
  border-radius: 0;
  -webkit-appearance: none;
  transition: border-color $pace-fast $ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $color-axa-blue;
  }

  &::placeholder {
    color: $color-dusty-gray;
  }

  &[aria-invalid='true'] {
    border-color: $color-shy-tomato;
  }

  &-checkbox {
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 100vw;

    & + label {
      display: block;
      position: relative;
      padding-left: calc(1rem + #{$spacing-xs});
      font-size: 0.75rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        border: 1px solid $color-silver;
        background-color: $color-white;
        transition: border-color $pace-fast $ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $color-axa-blue;
        transition: opacity $pace-fast $ease-in-out;
        opacity: 0;
      }
    }

    &:focus,
    &:hover {
      + label::before {
        border-color: $color-axa-blue;
      }
    }

    &:checked + label::after {
      opacity: 1;
    }

    &[aria-invalid='true'] + label::before {
      border-color: $color-shy-tomato;
    }
  }

  &-textarea {
    resize: vertical;
    min-height: 4rem;
  }
}
