@import 'static/scss/constants.scss';

.list {
  list-style: none;
  margin: $spacing-s 0 $spacing-l;
  padding: 0 $spacing-s;
  border: 1px solid $color-silver;
  box-shadow: 0 2px 4px $color-silver;
  border-radius: 4px;

  > li {
    padding: $spacing-xxs 0;
    border-top: 1px solid $color-silver;
  }

  > li:first-child {
    border-top: 0;
  }
}
