@import 'static/scss/constants.scss';

.entity-list {
  margin: $spacing-xs 0;

  ul {
    margin: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-s;

    > * + * {
      margin-left: $spacing-s;
    }
  }
}
