$color-deep-sapphire: #00005b;
$color-axa-blue: #00008f;
$color-st-tropaz: #2425aa;
$color-azure: #3032c1;
$color-dark-indigo: #3b3fd8;
$color-indigo: #494df4;
$color-axa-red: #ff1721;
$color-flamingo: #ec4d33;
$color-burnt-sienna: #f07662;
$color-mine-shaft: #333333;
$color-scorpion: #5f5f5f;
$color-gray-contrast: #757575;
$color-gray: #7f7f7f;
$color-dusty-gray: #999999;
$color-silver: #cccccc;
$color-mercury: #e5e5e5;
$color-wild-sand: #f5f5f5;
$color-alabaster: #fafafa;
$color-white: #ffffff;

$color-secondary-blue-1: #b5d0ee;
$color-secondary-blue-2: #00adc6;
$color-secondary-blue-3: #027180;
$color-secondary-pink-1: #fad6de;
$color-secondary-pink-2: #f1afc6;
$color-secondary-green-1: #9fd9b4;
$color-secondary-green-2: #9fbeaf;
$color-secondary-green-3: #668980;
$color-secondary-yellow-1: #f0ff93;
$color-secondary-yellow-2: #fcd385;
$color-secondary-yellow-3: #ddbe65;
$color-secondary-red: #914146;
$color-secondary-purple: #9190ac;

$color-malachite: #1cc54e;
$color-shy-tomato: #c91432;

$color-negative: $color-shy-tomato;
$color-negative-background: #fbdfe5;
